<!-------------------------------------------------------------------------------->
<template>
    <div class="row todo">
        <div class="col-md-8">
            {{ elem.nombre }}
        </div>
        <div class="col-md-4">
            <button @click="$emit('detalle', elem.id)" >Ver detalles</button>
        </div>
    </div>
</template>
<!-------------------------------------------------------------------------------->
<script>
export default {
    name: 'Elemento',
    components: {

    },
    props: [
        'elem'
    ],
    methods: {
        checkTodo() {

        }
    }
}
</script>
<!-------------------------------------------------------------------------------->
<style scoped>
.todo {
  border-bottom: solid 2px #ccc;
  padding: 10px;
}
.todo:not(.completed):hover {
  background: #ccc;
}
.completed {
  text-decoration: line-through;
}
.completed todo-body {
  text-decoration: line-through;
}
.todo-body .todo-actions {
  display: inline-block;
  vertical-align: top;
}
.todo-body {
  width: 85%;
}
.todo-actions {
  padding: 0 15px;
  width: 10%;
}
button {
  border: none;
  border-radius: 3px;
  padding: 10px;
  background: #ccc;
  color: #000;
}
button:hover {
  background: #0000ff ;
  color: #fff;
}
</style>
<!-------------------------------------------------------------------------------->
