<!-------------------------------------------------------------------------------->
<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Listado de Personas</h3>
          <Listado
            v-bind:listado="copiadePersonas"
            v-on:verdetalle="mostrarDetalle"
          ></Listado>
        </div>
        <div class="col-md-6">
          <div id="cuadro-detalle">
            <br />
            <h5>Detalles del elemento</h5>
            <div>
              <!-- Nota.- los archivos deben estar en /public/images/ -->
              <!-- <img src="./images/persona00.jpg" alt=""> -->
              <!-- <img :src="getImgUrl(`${persona.foto}`)" alt=""> -->
              <img v-bind:src="`images/${persona.foto}.jpg`" alt="">
            </div>
            <div>Nombre: {{ persona.nombre }}</div>
            <div>Apellido: {{ persona.apellido }}</div>
            <div>Dirección: {{ persona.direccion }}</div>
            <div>Teléfono: {{ persona.telefono }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<!-------------------------------------------------------------------------------->
<script>
import Listado from "./components/Listado";
export default {
    name: 'App',
    components: {
      Listado,
    },
    props: [

    ],
    methods: {
      // mostrar el detalle de un item
      mostrarDetalle(id) {
        console.log("mostrando el detalle del elemento " + id);
        this.persona = this.copiadePersonas.filter(item => item.id == id)[0]    // copiamos objeto=array[0]
      },
      getImgUrl(archivo) { 
        return 'images/' + archivo + '.jpg'; 
      }
    },
    data() {
      return {
        persona: {
            id        : null,
            nombre    : "",
            apellido  : "",
            direccion : "",
            telefono  : "",
            foto      : "persona00",
        },
        listadoPersonas: [
          {
            id        : 0,
            nombre    : "Alan",
            apellido  : "Rodriguez",
            direccion : "Av Peru Nro 234",
            telefono  : "70088445",
            foto      : "persona01",
          },
          {
            id        : 1,
            nombre    : "Benavides",
            apellido  : "Cortez",
            direccion : "Av Heroes del Pacifico Nro 323",
            telefono  : "72244488",
            foto      : "persona02",
          },
          {
            id        : 2,
            nombre    : "Sonia",
            apellido  : "Lima",
            direccion : "Zona Norte, calle Rits, Nro 23",
            telefono  : "65500526",
            foto      : "persona03",
          },
          {
            id        : 3,
            nombre    : "Luzmila",
            apellido  : "Paucara",
            direccion : "Zona Achachicala, Calle Ferrier # 465",
            telefono  : "64411122",
            foto      : "persona04",
          },
          {
            id        : 4,
            nombre    : "Lino",
            apellido  : "Quispe",
            direccion : "Llojeta av Saavedra # 464",
            telefono  : "72204466",
            foto      : "persona05",
          },

        ],
        copiadePersonas: [],
      };
    },
    // método VueJS, se invoca al cargar la aplicación
    created() {
      this.copiadePersonas = [...this.listadoPersonas];
    },
}
</script>
<!-------------------------------------------------------------------------------->
<style scoped>
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
#main-container {
  border: solid 2px #ccc;
  width: 700px;
  margin: 100px auto;
}
#header {
  background-color: #000;
  padding: 10px;
}
h2 {
  padding: 0 20px;
}

#cuadro-detalle {
  visibility: visible;
}
img {
  width: 300px;
  border: solid 4px olive;
}
</style>
<!-------------------------------------------------------------------------------->
